<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %> 
</head>
<body>
<% include  ../partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3>TTP Dashboard</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
    </div>
    <div class="col-sm-4"> 
      <h1> Buy Stocks <h1>
      	<form action ="/buystocks" method="post">
			Stock Symbol
			<br>
			<input type="text" placeholder="SYMBOL" name="stocksymbol">
			<br>
			Amount
			<br>
			<input type="text" name="stockamount">
			<br>
			<input type="submit" value="Buy">
		</form>
    </div>
    <div class="col-sm-4"> 
    	<% if (login) { %>
        <p>Current Balance : <%= currbalance %> </p>
      <% } else{ %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <% } %>
      
    </div>
  </div>
</div>
</body>
<% include ../partials/script %>
</html>