<!DOCTYPE html>
<html lang="en">

<head>
	 <% include ../partials/head %> 
	 <meta charset="utf-8">
	<title>TTP Stage 2 Stock Portfolio Splash Page </title>

	<script type="text/javascript">
  	</script>

  	<style type="text/css">
  	</style>
</head>

<body>
	<% include  ../partials/menu %>
	<main>
		<h1>Login Below </h1>

		<form action ="/login" method="post">
			Email
			<br>
			<input type="text" placeholder="Email" name="useremail">
			<br>
			Password
			<br>
			<input type="password" name="userpassword">
			<br>
			<input type="submit" value="Login">
		</form>


	</main>
</body>

</html>