<!DOCTYPE html>
<html lang="en">

<head>
	 <meta charset="utf-8">
	<title>TTP Stage 2 Stock Portfolio Splash Page </title>

	<script type="text/javascript">
  	</script>

  	<style type="text/css">
  	</style>
</head>

<body>
	<main>
		<h1>Register Below </h1>

		<form action ="/register" method="post">
			First name
			<br>
			<input type="text" placeholder="" name="firstname">
			<br>
			Last Name
			<br>
			<input type="text" placeholder="" name="lastname">
			<br>
			Email
			<br>
			<input type="text" placeholder="Email" name="useremail">
			<br>
			Password
			<br>
			<input type="password" name="userpassword">
			<br>

			<input type="submit" value="Login">
		</form>


	</main>
</body>

</html>